<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Knights</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <!--    <script th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">

        TIME - <span th:text="${timeComponent.time}"></span>
        GOLD - <span th:text="${playerInformation.gold}"></span>

        <p th:text="${knight.getName()}"></p>
        <p th:text="${knight.getAge()}"></p>
        <p th:text="${knight.getLevel()}"></p>
    </div>
</body>
</html>